<section>
        <h1 class="p-2">Section administration du site Plantdex</h1>
    
        <h3 class="p-2">Formulaire de modification d'une plante</h3>
        <form class="form" [formGroup]="updatePlantForm" (ngSubmit)="submit()">
            <div>
                <div class="p-2 d-flex flex-column">
                    <label for="idToUpdate">ID de la plante</label>
                    <input type="number" class="input w-50" id="idToUpdate" formControlName="idToUpdate" [(ngModel)]="plantToUpdate.id"/> 
                    <div class="field-message" *ngIf="updatePlantForm.get('id')?.invalid  && (updatePlantForm.get('id')?.dirty || updatePlantForm.get('id')?.touched)">
                        Le champ doit être renseigné., de 4 à 6 caractères alphanumérics.
                    </div>
                </div>
                <div class="p-2 d-flex flex-column">
                    <label for="nomToUpdate">Nom de la plante</label>
                    <input type="text" class="input w-50" id="nomToUpdate" formControlName="nomToUpdate" [(ngModel)]="plantToUpdate.nom"/> 
                    <!-- <div class="field-message" *ngIf="updatePlantForm.get('nom')?.invalid  && (updatePlantForm.get('nom')?.dirty || updatePlantForm.get('nom')?.touched)">
                        Le champ doit être renseigné.
                    </div> -->
                </div>
                <div class="p-2 d-flex flex-column">
                    <label for="soleilToUpdate">Besoin lumière</label>
                    <input type="text" class="input w-50" id="soleilToUpdate" formControlName="soleilToUpdate" [(ngModel)]="plantToUpdate.soleil"/> 
                    <!-- <div class="field-message" *ngIf="updatePlantForm.get('soleil')?.invalid  && (updatePlantForm.get('soleil')?.dirty || updatePlantForm.get('soleil')?.touched)">
                        Le champ doit être renseigné.
                    </div> -->
                </div>
                <div class="p-2 d-flex flex-column">
                    <label for="arrosageToUpdate">Besoin arrosage</label>
                    <input type="number" class="input w-50" id="arrosageToUpdate" formControlName="arrosageToUpdate" [(ngModel)]="plantToUpdate.arrosage"/> 
                    <div class="field-message" *ngIf="updatePlantForm.get('arrosage')?.invalid  && (updatePlantForm.get('arrosage')?.dirty || updatePlantForm.get('arrosage')?.touched)">
                        De 1 à 5 caractères alphanumérics, valeur de 1 à 5
                    </div>
                </div>
                <div class="p-2 d-flex flex-column">
                    <label for="categorieToUpdate">Catégorie affiliée</label>
                    <input type="text" class="input w-50" id="categorieToUpdate" formControlName="categorieToUpdate" [(ngModel)]="plantToUpdate.categorie"/> 
                    <!-- <div class="field-message" *ngIf="updatePlantForm.get('categorie')?.invalid  && (updatePlantForm.get('categorie')?.dirty || updatePlantForm.get('categorie')?.touched)">
                        Le champ doit être renseigné.
                    </div> -->
                </div>
                <div class="p-2 d-flex flex-column">
                    <label for="imageToUpdate">Image</label>
                    <input type="text" class="input w-50" id="imageToUpdate" formControlName="imageToUpdate" [(ngModel)]="plantToUpdate.image"/> 
                    <div class="field-message" *ngIf="updatePlantForm.get('image')?.invalid  && (updatePlantForm.get('image')?.dirty || updatePlantForm.get('image')?.touched)">
                        Le champ doit être renseigné.
                    </div>
                </div>
                <div class="p-2">
                    <button type="submit">Modifier</button>
                </div>
            </div>
        </form>
</section>

